.img2 
{
   width: auto;
   height: 100%;
}
.responsive {
  max-width: 100%;
  height: auto;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Style the active link (or home/logo) */
.active {
  color: white;
}

.iframe {
  width: 800px;
  height: 300px;
}

/* Responsiveness */
@media (max-width: 500px) {
  .topnav { display : none };

  
}

@media screen and (max-width: 768px) {
  .menu-box {
      display: none !important;
  }
}

.subitem {
    color: white;
    font-size: 16px;
}

.titulo {
    color: goldenrod;
    font-size: 18px;
}

.texto {
    color: grey;
    font-size: 16px;
}

.destaque {
  font-size: 20px; 
  color: antiquewhite;
}

.link_menu {
  font-size: 16px;
  color: white;
  padding: 0px 10px 0px 10px;
}

.link_menu a:hover {
  text-decoration: none;
  color: yellow;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right_arrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: goldenrod;
    color: #333;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }

 #redes{
   width: 90px;
   height: 70px;
 }
 .redes{
  left: 20%;
 }
  
  #myBtn:hover {
    background-color: #555;
  }

.topico {
    padding: 0px 20px 20px 20px;
}


/* Flaired edges, by Tomas Theunissen */

hr.style-seven {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: goldenrod;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  width: 98%;
}
hr.style-seven:before { /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  display: inline-block;
  margin: 0 auto;
}

.menu-box {
  display: flex;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(rgb(105, 68, 22), rgb(70, 43, 9));
  
  padding: 6px;
  color:white;
  padding-left: 10%;
  padding-right: 10%;
}

.dropdown-none {
  display: inline-block;
  margin: 0 auto;
}



.dropdown .drops, .dropdown-none .drops {
  font-size: 16px;
  background-image: linear-gradient(rgb(105, 68, 22), rgb(70, 43, 9));
  border: none;
}

.dropdown .link_menu {
  color:black;
  background-color: #f9f9f9;
  border: none;
  text-decoration: none;
}

.em_linha {
  display: inline-block; 
  margin: 0 auto; 
}

.afastar {
  padding-left: 40px;
  padding-right: 40px;
}

.centralizar {
  width: 100%; 
  text-align: center;
}

.meio_div {
  display: table;
}

.meio_img {
  padding: 0px 0px 0px 30px;
  vertical-align: middle !important;
  display: table-cell !important;
}

.meio_texto {
  padding: 0px 0px 0px 30px;
  vertical-align: middle;
  display: table-cell;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}